<header>
	<div class='container'>
		<div class='navigation'>
			<% if signed_in? %>
			 	<%= link_to edit_user_registration_path do%>
			 		<i class="fa fa-user"></i>
			 		<%= current_user.email %>
			 	<% end %>
			 	<%= link_to cart_path do%>
					<i class="fa fa-shopping-cart"></i> My Cart
					(<span class="cart-count"><%=current_user.cart_count%></span>)
				<% end %>
			 	<%= link_to destroy_user_session_path, method: :delete do %>
			 	<i class="fa fa-sign-out"></i>
			 	Logout
			 	<% end %>
			<% else %>
			 	<%= link_to new_user_registration_path do%>
			 	<i class="fa fa-pencil-square-o"></i>
			 	Register
			 	<% end %>
			 	<%= link_to new_user_session_path do%>
			 	<i class="fa fa-sign-in"></i>
			 	Login
			 	<% end %>
			<% end %>		
		</div>
	</div>
</header>