<!DOCTYPE html>
<html>
<head>
  <title>OnlineStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<%= render "layouts/header" %>
<div class='content'>
<%= render "layouts/slider" %>
<%= render "layouts/navigation" %>
	<%= yield %>
</div>

<%= render "layouts/footer" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
